<script>
    $(function() {
        $( "{{ elementSselector }}" ).datetimepicker(
        {
          showOn: "button",
          buttonImageOnly: true,
          dateFormat: "yy-mm-dd",
          timeFormat: "HH:mm",
          changeMonth: true,
          changeYear: true
        });
   });
</script>    
    