<script>
    $(function() {
        $( "{{ elementSselector }}" ).datepicker(
        {
          showOn: "button",
          buttonImageOnly: true,
          dateFormat: "yy-mm-dd"
        });
   });
</script>    
    