{% include 'Flight/datepicker_script.html.twig' with {'elementSselector': '#flight_filter_departure'}  %}
{% include 'Flight/datepicker_script.html.twig' with {'elementSselector': '#flight_filter_arrive'}  %}
  <script>
  $(function() {
    $( "#flight_filter_container" ).accordion({
        header: "h3",
        collapsible: true,
        active: false    
    });
  });
  </script>
<div id="flight_filter_container">
    <h3>Filter</h3>
    <div>
        <form method="get" {{ form_enctype(filterForm) }}>
            {{ form_widget(filterForm) }}
        </form>
    </div>
</div>
<br>