{% include 'Flight/filter.html.twig' %}
<a href="new.php">New flight</a>
<table class="overzicht">
    <thead>
        <tr>
          <th>Id</th>
          <th>Enabled</th>
          <th>Flight number</th>
          <th>Departure</th>
          <th>Arrive</th>
          <th>Departure IATA</th>
          <th>Departure Airport</th>
          <th>Arrive IATA</th>
          <th>Arrive Airport</th>
          <th>Airline code</th>
          <th>Airline name</th>
          <th>Cost per person</th>
          <th>Currency</th>
          <th>Actions</th>
        </tr>
    </thead>
	<tfoot>
	  <tr>
	    <td colspan="13" style="text-align: center;">
	       <div class="pagerfanta">
	         {{ paginatorView | raw }}
           </div>
	    </td>
	  </tr>
	</tfoot>    
    <tbody>
		{% for flight in flights %}
        <tr {% if loop.index0 is even %}class="even"{% else %}class="odd"{% endif %}>
			<td>{{ flight.id}}</td>
            <td>{% if flight.enabled %}true{% else %}false{% endif %}</td>
            <td>{{ flight.flightNumber }}</td>
            <td>{{ flight.departure | date('Y-m-d H:i') }}</td>
            <td>{{ flight.arrive | date('Y-m-d H:i') }}</td>
			<td>{{ flight.departureAirportIata }}</td>
			<td>{{ flight.departureAirportName }}</td>
            <td>{{ flight.arriveAirportIata }}</td>
            <td>{{ flight.arriveAirportName }}</td>
            <td>{{ flight.airlineCode }}</td>
            <td>{{ flight.airlineName }}</td>
            <td>{{ flight.costPerPerson }}</td>
            <td>{{ flight.currency }}</td>
            <td><a href="edit.php?id={{ flight.id }}">Edit</a> <a href="new.php?id={{ flight.id }}">Clone</a> <a href="delete.php?id={{ flight.id }}" onclick="return confirm('Are you sure you want to delete?');">Delete</a></td>
        </tr>
		{% endfor %}
    </tbody>
</table>