{% include 'Flight/datetimepicker_script.html.twig' with {'elementSselector': '#flight_departure'}  %}
{% include 'Flight/datetimepicker_script.html.twig' with {'elementSselector': '#flight_arrive'}  %}

<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>
<br>
<a href="index.php">Back to the list</a>