body {
  background-color:#fff;
  border:1px inset #333;
  margin:0px auto;
  padding:0px;
}


a {
	text-decoration:none;
	color:#000000;
}
td {
	font-family: Verdana;
	font-size:10px;
  width:204px;
}

.day
{
  cursor:pointer;
	font-weight:bold;
	text-align:center;
}

.title
{
  font-size:12px;
  font-weight:bold;
}

.button
{
  font-family:Trebuchet MS;
  font-size:12px;
  text-decoration:none;
  text-align:center;
  border-width: 0px;
  border-style:solid;
  border-color: #bbccee #416aa1 #416aa1 #bbccee;
  color: #000000;
}

.button:hover
{
  text-decoration:none;
  background-color: #eee;
  border-width: 0px;
  border-style:solid;
  border-color: #416aa1 #ddddee #ddddee #416aa1;
  color: #000000;
}

SELECT
{
  border:1px solid #333;
  font-size:10px;
}

#container {
  margin:4px;
}