html
{
  font-family:"Verdana";
  font-size:11px;
  color:#8c560f;
  margin:0px 0 0 0;
  padding:0px;
  background-color:#eddeca;
}

body
{
  margin:0px;
  padding:0px;
}

.input_tabel
{
  width:400px;
  font-family:"Verdana";
  font-size:11px;
  margin:0px auto;
  border:0px solid #00ff00;
}

.input_veld
{
  width:auto;
}

h1, h2, h3, h4
{
  color:#8c560f;
}

h1
{
  font-size:14px;
  color:#8c560f;
  background-color:#e3d1b9;
}