body 
{
	margin:0px;
  padding:0px;
	font-family:"verdana";
	letter-spacing:1px;
	font-size:11px;
  color:#336699;
	background-color:#ffffff;
}

table
{
	font-family:"Verdana";
	letter-spacing:1px;
	font-size:11px;
  color:#336699;
}

h1, h2, h3, h4
{
  color:#336699;
}

a
{
  text-decoration:underline;
  color:#336699;
  font-weight:bold;
}

.container 
{
	width:1200px;
	margin: 20px auto;
	padding:0px;
	background-color:none;
}

.content {
	margin:0px;
	padding:5px;
	border:1px solid #336699;
	border-top:0px;
	background-color:#ffffff;
	/*height:550px;*/
	overflow:auto;
}

.contentFooter {
	margin:0px; 
	padding:0px;
	background-color:#336699;
	border:0px;
	height:20px;
}

.contentFooter p img {
	margin:0px;
	padding:0px;
	width:100%;
	height:40px;
}

.contentFooter p{
	margin:0px;
	padding:0px;
}

/******************* TOP MENU *********************/
.topBar {
	background-image:url('../pics/RBSlogo.jpg');
	background-repeat:no-repeat;
	background-color:#336699;
	height:90px;
	margin: 0;
}

.topMenu {
	margin:0px 0px 0px 220px;
	padding:0px;
	color:#ffffff;
}

.topMenu ul {
	position:relative;
	top:60px;
	_top:62px;
	margin:0;
	margin-right: 0px;
	border:0px;
	padding:0;
}
  
.topMenu ul li {
	padding:0;
	display:inline;
	list-style-type:none;
	margin: 0 10px 0 0;
}

.topMenu ul li a
{
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;
	line-height:19px;
	text-decoration:none;
	padding:0 5px;
}

.topMenu a:hover, .topMenu a.active {
	background-color:#ffffff;
	color: #336699;
}


/******************* Edit blokken *********************/
#main
{
  border:0px solid #00ffff;
}

/***generieke content***/
table
{
  width:100%;
  margin:0 0 10px auto;
  padding:5px;
}

td
{
  margin:0px;
}

input, select, textarea
{
  font-family:"Verdana";
  color:#336699;
  font-size:11px;
  width:320px;
}

textarea
{
  height:100px;
}

#beschrijving_kort td textarea
{
  height:50px;
}

.optieRegel
{
  width:170px;
}

table tr td.left
{
  width:180px;
  border:0px solid #ff4400;
}

.checkbox, .radiobutton
{
  width:auto;
}
#arrangement_multi
{ 
  clear:left;
}

#optaContainer,
#uploadIframe,
#parentContent,
#webentiteitContent,
#beschrijvingContent,
#specificContent,
#hotelContent,
#reisoptieContent, 
#reisoptieWaardeContent
{
  width:550px;
}

#parentContent td,
#webentiteitContent td,
#beschrijvingContent td,
#specificContent td,
#hotelContent td, 
#reisoptieContent td, 
#reisoptieWaardeContent td
{
  white-space: nowrap;
}

#optaContainer,
#parentContent,
#webentiteitContent
{
  clear:left;
	float:left;
}

#optaContainer {
	  clear:left;
  float:left;
	margin: 10px 0 0 0;
}

#webentiteitContent
{
  clear:left;
  float:left;
}

#beschrijvingContent,
#specificContent,
#hotelContent, 
#reisoptieContent, 
#hotelContent,
#reisoptieWaardeContent
{
  margin-left:600px;
}

#optaContainer table,
#parentContent table,
#webentiteitContent table,
#beschrijvingContent table 
{
  border:1px solid #336699;
  background-color:#cadbed;
}

/***specifieke content groen***/
#specificContent table
{
  color:#26601a;
  background-color:#d0edca;
  border:1px solid #26601a;
}

#hotelContent table
{
  color:#000;
  background-color:#ffffca;
  border:1px solid #26601a;
}

/***input afhankelijke content orange/bruin***/

#reisoptieContent table, #reisoptieWaardeContent table, #uploadIframe, #fotoReisoptieContent
{
  border: 1px solid #8c560f;
  background-color:#eddeca;
  color:#8c560f;
  margin:0px;
  padding:0px;
}

#reisoptieWaardeContent table a
{
  color:#8c560f;
}

/******************* OVERZICHT TABELLEN *********************/

.overzicht {
	border-collapse: collapse;
	background-color:#bacfe5;
	font-family:"verdana";
	margin:10px auto;
	border:0px solid #336699;
	line-height:14px;
	letter-spacing:0px;
	font-size: 11px;
	color:#336699;
}

.overzicht th {
	font-weight:normal;
  white-space: nowrap;
  letter-spacing:0px;
	line-height:24px;
	text-align:left;
	background-color:#336699;
	color:#ffffff;
	border:1px solid #d8e8f9;
	border-left:0px;
	border-right:0px;
}

.overzicht th a{
	font-weight:bold;
  white-space: nowrap;
  letter-spacing:0px;
  text-decoration:none;
	color:#d8e8f9;
}

.overzicht .title {
  white-space: nowrap;
  letter-spacing:0px;
	background-color: #eAeAf7;
	color:#6A6A6a;
	border:1px solid #222222;
}

.overzicht th select {
  letter-spacing:0px;
	background-color: #9a9a9a;
	color:#000000;
	border:0px solid #222222;
	width:150px;
}

.overzicht tr.odd {
	position:relative;
	z-index:1;
	background-color: #d3e0ee;
	background-repeat: repeat-x;
	border:1px solid #c3d0de;
	border-left:0px;
	border-right:0px;
}

.overzicht tr.even {
	background-color: #ffffff;
	background-repeat: repeat-x;    
}

.overzicht tr.even_sel {
  background-color: #d3ffaa;
}

.overzicht tr.odd_sel {
  background-color: #a2aa77;
}


.overzicht td {
	border:0px;
	padding: 2px 5px 2px 5px;
	vertical-align:middle;
	
}

.overzicht td input {
  width:auto;
}

.date
{
  width:100px;
}

.overzicht td.kruisje {
	text-align:center;
}

.overzicht .inhoud
{
 width:300px;
}

.overzicht .betaling_inhoud
{
 width:150px;
}

.controls img{
	border:0px;
}

/**************** FOTO DIV *******************/

#uploadIframe
{
  clear:left;
  float:left;
  height:300px;
}

/* submitknoppen */
#submit
{
  clear:both;
  margin:0px auto;
  text-align:center;
  padding-top:4px;
}

#submit input
{
  font-size:18px; 
}

.selector
{
  width:200px;
  max-height:250px;
  display:none;
  position:absolute;
  border:1px solid #333;
  background-color:#efc;
  padding:4px;
  overflow:auto;
  z-index:1000;
}

.knop 
{
  cursor: pointer;
  position:relative;
  margin-left:2px;
  padding: 4px;
  text-decoration: none;
  font-size:11px;
  font-weight:bold;

  border-width:1px;
  border-style:solid;
  background-color: #ddd;
  border-color: #eee #999 #999 #eee;

}

.knop:hover 
{
  border-width:1px;
  border-style:solid;
  background-color: #ccc;
  border-color: #999 #eee #eee #999;
  color: #3677cB;
}

#fotoReisoptieContent
{
  margin-top:4px;
}

#date
{
  width:180px;
  height:190px;
  display:none;
  position:absolute;
  margin:0;
  padding:0;
}

select.top_select{
    width: 200px;
}

.top_bar_site{
    padding: 20px 0;
    border-color:  #336699;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}